body {
    font-family: Arial, sans-serif;
    background-color: rgb(225, 105, 255);
  }
     
  h1 { 
    text-align: center;
    margin-top: 50px;
    color:black;
  
  }
     
  #guess-input {
    display: block;
    margin: 0 auto 30px;
    padding: 20px;
    font-size: 20px;
    width: 300px;
    border: 1px solid #fff;
  }
     
  #guess-button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 18px;
    background-color: blueviolet;
    color: black;
    border: black;
    border-radius: 3px;
  }
     
  button:active {
      transform: scale(2.00);
  }
     
  .letter {
      border: 1px solid black;
      padding: 3px;
      margin: 3px;
      min-width: 20px;
      text-align: center;
      display: inline-block
  }
     
  .row{
      margin-bottom: 10px;
  }
     
  .input-area{
      margin: 10px;
  }